.personage{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}
.personage_top{
  background-image: linear-gradient(-45deg, #F77062 0%, #FE5196 100%);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 11% 5% 5%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}
.personage_top>h3{
  margin: 0;
  text-align: center;
  color: white;
}
.personage_img{
  display: flex;
  justify-content: flex-start;
  margin-top: 10%;
}
.personage_img>img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.signtrue{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
  position: relative;
}
.signtrue>p{
  margin: 0;
  padding-bottom: 5px;
}
.personage_input{
  border:0;
  background-color: inherit;
  color:white;
  outline:0;
  width: 80%;
}
.personage_top>a>img{
  display: block;
  width: 30px;
  height: 30px;
}
.personage_top>a{
  position: absolute;
  top:18%;
  right:10%;
}
.personage_main{
  padding: 15% 10%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow:1;
}
.friend{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  padding: 5% 0;
  background-color: #fff;
  box-shadow: 5px 5px 2px #ccc;
}
.friend>p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.friend>p>span{
  width: 60px;
}
.friend>p>img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-right: 10%;
}
.personage_img .head>input{
    width: 0;
    height: 0;
}
.personage_img .head{
  background-image: url('../images/u=2972809576,3457284332&fm=27&gp=0.jpg');
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.signtrue .personage_active{
  border-bottom: 1px solid #ccc;
}
.personage_save{
  position:absolute;
  top:40px;
  left:135px;
  color:black;
  display: none;
}
.signtrue .personage_btn{
  display: block;
}
